*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: start;
}

form {
    margin: 100px auto;
    min-width: 500px;
    font-size: 1.5rem;
    padding: 10px 20px;
}

form section {
    padding: 3px 0px;
    display: flex;
    justify-content: space-between;
}

form section input{
    margin-left: 20px;
     
}

fieldset{
    padding-left: 20px;
    padding-right: 20px ;
}
